@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --max-width: 1100px;
  --font-family-headings: "Bebas Neue", sans-serif;
  --font-family-body: "Work Sans", serif;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --yellow: #FFC536;
  --mint: #AED0BF;
  --mauve: #BC9391;
  --red: #BF0703;
  --black: #02040F;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-family-body);
}

h2 {
  font-family: var(--font-family-headings);
  font-size: xxx-large;
  line-height: 0.9em;
  margin-bottom: 1em;
}

h3 {
  font-family: var(--font-family-headings);
  font-size: xx-large;
  margin-bottom: 1em;
}

p {
  font-family: var(--font-family-body);
  font-size: x-large;
}

a {
  color: inherit;
  margin: 20px;  
}

button {
  font-family: var(--font-family-headings);
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button svg {
  width: 100%;
  height: 100%;
  max-width: 40px;
  max-height: 40px;
  transition: color 0.3s ease;
}

button:hover svg {
  color: var(--red); /* Darker color on hover */
}

footer {
  background-color: var(--black);
  color: var(--mint);
  width: 100%;
}

@media (hover: hover) and (pointer: fine) {
  button {
    pointer-events: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  button {
    color: var(--black);
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}