.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: var(--yellow);
}

.top {
  position: fixed;
  left: 20px;
  bottom: 20px; 
}

.logo {
  margin-bottom: 40px;
}

.hero, 
.services,
.projects, 
.contact {
  width: 100%;
  min-height: 75vh;
  padding: 3em;
  font-family: var(--font);
  text-align: center;
}

.hero {
  background-color: var(--yellow);
}

.services {
  background-color: var(--mint);
}

.servList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  margin: 50px 0px;
}

.projects {
  background-color: var(--mauve);
}

.contact {
  background-color: var(--yellow);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (prefers-reduced-motion) {

}

/* Mobile */
@media (max-width: 700px) {
  .servList {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
