.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: var(--yellow);
}

.maxWidth {
  max-width: var(--max-width);
}

.top {
  position: fixed;
  left: 20px;
  bottom: calc(100vh - 80%); 
}

.hero, 
.services,
.projects, 
.contact {
  width: 100%;
  min-height: 75vh;
  padding: 3em;
  font-family: var(--font-family-body);
  text-align: center;
}

.hero {
  background-color: var(--yellow);
}

.services {
  background-color: var(--mint);
}

.servList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  margin: 50px 0px;
}

.faq {
  display: flex;
  width: 33%;
  justify-self: center;
}

.projects {
  background-color: var(--mauve);
}

.contact {
  background-color: var(--yellow);
}

/* estimate page */
.formInfo {
  padding: 2em;
}

.formSection {
  margin-bottom: 2em;
}

.formSection button {
  min-height: 50px;
  font-size: 40px;
  padding: 10px 5px;
  background-color: var(--black);
  color: #fffff1;
  margin-top: 20px;
}

.formContainer {
  padding: 2em;
}

.formContainer h2 {
  margin-bottom: 0.5em;
}

.formInputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formInputs input {
  min-height: 50px;
  border: 2px var(--black) solid;
  padding: 5px;
}

.formInputs select {
  min-height: 50px;
  border: 2px var(--black) solid;
  padding: 5px;
}

.formInputs textarea {
  min-height: 100px;
  border: 2px var(--black) solid;
  padding: 5px;
}

.formSelection {
  gap: 20px;
  align-items: center;
  margin-bottom: 50px;
}

.formGridTwo {
  display: grid;
  grid-template-columns: 0.01fr 0.99fr;
}

.formGridFour {
  display: grid;
  grid-template-columns: 0.01fr 0.99fr 0.01fr 0.99fr;
}

@media (hover: hover) and (pointer: fine) {

}

@media (prefers-reduced-motion) {

}

/* Mobile */
@media (max-width: 700px) {
  .servList {
    grid-template-columns: repeat(1, 1fr);
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
