.root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text {
    background-color: var(--red);
    color: #fffff8;
    text-transform: uppercase;
    font-size: xx-large;
    font-family: var(--font);
    padding: 20px;
    transition: 0.2s ease-in-out;
}

.link {
    text-decoration: none;
}

.text:hover {
    filter: drop-shadow(0em 0em 20px rgba(0,0,0,0.3));
    transform: scale(1.05);
}