.root {
    font-family: var(--font-family-headings);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.link {
    text-decoration: none;
}

.text {
    background: var(--yellow);
    border-radius: 0.5em;
    color: var(--black);
    text-transform: uppercase;
    font-size: xx-large;
    font-family: var(--font);
    padding: 0.7em 1.7em;
    transition: all 0.2s ease-in-out;
    box-shadow:6px 6px 12px #D9A72E, -6px -6px 12px #FFE33E;
    cursor: pointer;
} 

.text:hover {
    transform: scale(1.05);
    padding: 1em 2em;
}

@media (hover: hover) and (pointer: fine) {
    .text {
        pointer-events: none;
    }
}